.yelp-category__buttons {
    padding-top: 15px;
}

.yelp-category__button {
    background-color: var(--yelp-red);
    border-radius: 4px;
    color: white;
    width: 130px;
    height: 36px;
    font-size: 12px;
    min-width: 0;
    padding: 6px 10px;
}

.yelp-category__button p {
    text-overflow: ellipsis;
}

@media screen and (max-width: 680px) {
    .yelp-category__buttons {
        padding-top: 35px;
    }

    .yelp-category__button {
        font-size: 12px;
    }
}