.mainfilteroption__wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.494);
}

.mainfilteroption__switch {
    display: inline-block;
    width: 40px;
    height: 15px;
    margin: 0 10px;
    position: relative;
}

.mainfilteroption__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.mainfilteroption__switch input {
    display: none;
}

.mainfilteroption__slider::before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: -2px;
    bottom: -4px;
    background-color: rgb(253, 11, 11);
    transition: 0.1s ease-in;
    border-radius: 50px;
}

.mainfilteroption__switch input:checked+.mainfilteroption__slider {
    background-color: #ff278c;
}

.mainfilteroption__switch input:checked+.mainfilteroption__slider::before {
    transform: translateX(20px)
}