.yelp-util__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: rgb(255, 255, 255);
    background-color: var(--dark-background);
    width: 120px;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    border: none;
    transition: 0.2s ease-in;
}

.yelp-util__button:hover {
    background-color: rgb(26, 26, 26);
}

.card__origin {
    width: 40px;
    font-size: 12px;
    height: 30px;
    border: 1px solid white;
}

@media screen and (max-width:560px) {
    .yelp-util-buttons__wrapper {
        padding-bottom: 20px;
    }
}