.yelp-display__section {
    background-color: var(--page-background-blue);
    height: 100vh;
}

.yelp-display__bottom {
    align-self: center;
    padding-bottom: 20px;
    max-width: 1000px;
    width: 100%;
}

.yelp-display__main {
    padding: 100px 50px;
    overflow: auto;
    width: 75%;
}

.yelp-display__main::-webkit-scrollbar {
    width: 6px;
}

.yelp-display__main::-webkit-scrollbar-track {
    background: transparent;
}

.yelp-display__main::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.373);
    border-radius: 4px;
}

@media screen and (max-width:1000px) {
    .yelp-display__section {
        flex-direction: column;
        overflow: auto;
    }

    .yelp-display__main {
        width: 100%;
        border-right: none;
        overflow: visible;
        border-bottom: 1px solid rgba(142, 142, 142, 0.616);
    }
}

@media screen and (max-width:560px) {
    .yelp-display__main {
        padding: 100px 20px;
    }

    .yelp-display__bottom {
        gap: 0em !important;
    }
}