.rh__wrapper {
    padding: 100px 10px;
    width: 25%;
}

.rh__heading {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 1em;
    text-decoration: underline;

}

.rh__item__container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-height: 90%;
    overflow: auto;
}

.rh__item {
    border-bottom: 1px solid rgba(157, 157, 157, 0.59);
    padding: 10px;
    cursor: pointer;
}

.rh__name {
    font-size: 18px;
    font-weight: bold;
}

.rh__bottom__text {
    color: var(--light-blue-text)
}

@media screen and (max-width:1000px) {
    .rh__wrapper {
        width: 100%;
    }

    .rh__item__container {
        max-height: 250px;
        overflow: auto;
        width: 100%;
    }


}