:root {
    --filter-border-radius: 2px
}

.filterdropdown__wrapper {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(122, 122, 122, 0.354);
}

.filterdropdown__wrapper form {
    background-color: white;
    border-radius: var(--filter-border-radius);
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.filterdropdown__top__clickable {
    cursor: pointer;
}

.filterdropdown__top__apply {
    border: none;
    background-color: white;
}

.mainfilteroptions__container {
    background-color: black;
    border-radius: var(--filter-border-radius);
}

.filterdropdown__fooditems__container {
    background-color: black;
    border-radius: var(--filter-border-radius);
}

.filterdropdown__fooditem {
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 40px;
    font-size: 14px;
}

.filterdropdown__label {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.filterdropdown__foodname {
    background-color: antiquewhite;
    width: 80px;
    border-radius: 40px;
    font-size: 14px;
    transition: 0.1s ease-in;
}

.filterdropdown__fooditem__active {
    background-color: blueviolet;
}