.ta__restaurantimage__container {
    height: 250px;
    border-radius: 15px;
    overflow: hidden;
}

.background__black {
    background-color: black;
}

/* .ta__heart__container {
    background-color: white;
    border-radius: 50%;
    padding: .5em;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 5%;
    top: 5%;
}

.ta__heart {
    font-size: 18px;
} */