.yelp__clock__container {}

.yelp__clock__icon {}

.yelp__distance {}


.yelp__button__red {
    border: 2px solid rgba(255, 43, 43, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: rgba(255, 43, 43, 0.85);
    width: 150px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    background-color: white;
}