.big-button__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 100px;
}

.big-button__wrapper--small {
    padding-top: 20px;
}

.big-button__container {
    background-image: linear-gradient(rgb(171, 211, 254), rgb(155, 203, 255), rgb(127, 175, 227));
    border-radius: 50%;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.big-button__container--loading {
    animation: spin 2s linear infinite;
}


/* Gradient gives 3-D/lighting illusion */
.big-button__container--main {
    width: 350px;
    height: 350px;
}

.big-button__container--small {
    width: 230px;
    height: 230px;
}

.big-button__container--main:hover,
.big-button__container--small:hover {
    transform: scale(1.02);
}

/* big-button styling */
.big-button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(155, 203, 255);
}

.big-button--loading {
    animation: opposite-spin 2s linear infinite
}

.big-button--main {
    width: 280px;
    height: 280px;
}

.big-button--small {
    width: 150px;
    height: 150px;
}


.fast-food__icon {
    color: white;
}

.fast-food__icon--small {
    font-size: 30px;
}

.fast-food__icon--main {

    font-size: 50px;
}



@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes opposite-spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Button takes up way too much space on smaller screens so reduce size */
@media screen and (max-width:600px) {
    .big-button__container__main {
        width: 300px;
        height: 300px;

    }

    .big-button__main {
        width: 230px;
        height: 230px;
    }
}