:root {
    --navbar-text-color: rgb(71 85 105/1);
}

nav {
    box-shadow: var(--threed-box-shadow);
    width: 100vw;
    z-index: 9998;
}

.navbar__container {
    width: 100%;
    max-width: 900px;
}

.navbar__hamburger--container,
.navbar__dropdown {
    display: none;
}

.navbar__brand {
    font-size: 18px;
    border-right: 2px solid rgba(207, 207, 207, 0.555);
    padding: 0px 20px 0px 0px;
}

.navbar__link {
    font-size: 15px;
}

.dropdown__link,
.navbar__link,
.navbar__brand {
    color: var(--navbar-text-color);
}

.navbar__icon {
    height: 15px;
    width: 15px;
}


/* Navbar Button Styling */
.navbar__button,
.navbar__button--wide {
    border-radius: 4px;
    width: 120px;
    padding: 2px 8px;
    gap: 1em;
    border: none;
    box-shadow: 0 0 #0000,
        0 0 #0000,
        0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: 0.1s ease;
}

.navbar__button--light {
    border: 1px solid #e2e8f0;
    background-color: white;
    color: rgb(71 85 105/1);
}

.navbar__button__light:hover {
    background-color: rgb(253, 252, 252);
}

.navbar__button--black {
    background-color: var(--dark-background);
    color: white;
}

.navbar__button--black:hover {
    background-color: rgba(21, 21, 21, 0.81);
}

@media screen and (max-width:600px) {

    .navbar__container--open {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(129, 129, 129, 0.515);
    }

    .navbar__button--text,
    .navbar__icon--container,
    .navbar__link {
        display: none;
    }

    .navbar__brand {
        border: none;
        padding: 0;
    }

    .navbar__button {
        width: 40px;
        padding: 10px 8px;
    }

    .navbar__dropdown {
        display: flex;
        padding-top: 15px;
        width: 100%;
        font-size: .9rem;
    }

    /* Hamburger Styling*/
    .navbar__hamburger--container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 18px;
    }

    .navbar__hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 2px;
        background: rgba(42, 42, 42, 0.871);
        border-radius: 5px;
        transition: 0.2s ease-in;
    }

    .navbar__hamburger::before,
    .navbar__hamburger::after {
        position: absolute;
        content: '';
        display: flex;
        width: 20px;
        height: 2px;
        background: rgba(42, 42, 42, 0.871);
        border-radius: 5px;
    }

    .navbar__hamburger::before {
        transform: translateY(-6px);
    }

    .navbar__hamburger::after {
        transform: translateY(6px);

    }
}