.ta__rating__container {
    width: 130px;
    height: 60px;
}

.ta__review__count {
    color: var(--light-blue-text);
    font-size: 14px;
}

.ta-review__dot {
    font-size: 10px;
}

@media screen and (max-width:1000px) {
    .ta__ratingrow__wrapper {
        flex-wrap: wrap-reverse;
    }

    .ta__ratingrow__main {
        font-size: 14px;
    }

    .ta__rating__container {
        width: 100px;
        height: 40px;
    }
}

@media screen and (max-width:500px) {
    .ta__ratingrow__wrapper {
        padding-top: 10px;
    }

    .ta__review__count {
        display: none;
    }
}