.ta-display__wrapper {
    background-color: white;
    height: 100vh;
}

.ta-display__main {
    padding: 100px 50px 30px 50px;
    width: 75%;
    overflow: auto;
    background-color: var(--page-background-blue);
}

.ta__heading__name {
    font-size: 38px;
    font-weight: bold;
}

.ta-display__main::-webkit-scrollbar {
    width: 6px;
}

.ta-display__main::-webkit-scrollbar-track {
    background: transparent;
}

.ta-display__main::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.373);
    border-radius: 4px;
}

@media screen and (max-width:1000px) {
    .ta-display__wrapper {
        flex-direction: column;
        overflow: auto;
    }

    .ta-display__main {
        width: 100%;
        border-right: none;
        overflow: visible;
        border-bottom: 1px solid rgba(142, 142, 142, 0.616);

    }

    .ta__heading__name {
        font-size: min(9vw, 38px);
    }
}