.tadisplay__wrapper {
    width: 100%;
    background-color: white;
}

.tadisplay__main {
    padding: 100px 30px 30px 30px;
    width: 75%;
    border-right: 1px solid rgba(142, 142, 142, 0.616);
}

.ta__heading__name {
    font-size: 38px;
    font-weight: bold;
}

@media screen and (max-width:1000px) {
    .tadisplay__wrapper {
        overflow: auto;
        flex-direction: column;
    }

    .tadisplay__main {
        width: 100%;
        border-right: none;
        overflow: visible;
        border-bottom: 1px solid rgba(142, 142, 142, 0.616);

    }

    .ta__heading__name {
        font-size: min(9vw, 38px);
    }
}