.favorites-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 150px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    background-color: white;
}

.tripadvisor-button--green {
    border: 2px solid #34e0a1;
    color: #34e0a1;
}

.yelp-button--red {
    border: 2px solid var(--yelp-red);
    color: var(--yelp-red);
    background-color: white;
}

.yelp-button__added {
    background-color: var(--yelp-red);
    color: white;
}

.tripadvisor-button__added {
    background-color: #34e0a1;
    color: white;
}

.favorites-button__heart-check {
    font-size: 16px;
}



@media screen and (max-width:550px) {
    .favorites-button {
        width: 50px;
    }

    .favorites-button span {
        display: none;
    }
}