.yelp-rating__text {
    font-weight: bold;
}

.yelp-reviewcount__text {
    color: var(--light-blue-text);
    font-size: 14px;
}

.yelp-review__dot {
    font-size: 10px;
}


@media screen and (max-width:560px) {
    .yelp-review__wrapper {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:520px) {

    .yelp-reviewcount__text,
    .yelp-reviewcount__text__dot {
        display: none
    }
}