.account-dropdown__wrapper {
    z-index: 9999;
    right: 10%;
    top: calc(var(--navbar-height) + 10px);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.1s ease-in;
    width: 150px;
    box-shadow: 0 0 #0000,
        0 0 #0000,
        0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border: 1px solid #e2e8f0;
}